<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wild meassage - feed</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   {{> nav}}

<main class="container">
  <h1>Comments</h1>
  <!--if there is a comment then set up the comment boxes -->
  {{#if comments.length}}
    <ul class="comments-list">
      <!--for each comment print out the selected information-->
      {{#each comments}}
        <li class="comment">
          <div class="comment-meta">
            <strong class = "{{profile_color}}">{{display_name}}</strong> — {{created_at}}
          </div>
          <div class="comment-body">{{content}}</div>
        </li>
      {{/each}}
    </ul>
    <!--no comment -->
  {{else}}
    <p>No comments yet. Be the first to post.</p>
  {{/if}}
  <!--pagintion-->
  {{#if totalPages}}
    <div class="pagination">

    {{#if hasPrev}}
      <a href="/comments?page={{subtract page 1}}">Prev</a>
    {{/if}}

    {{#each pages}}
      {{#if current}}
        <span class="page current">{{number}}</span>
      {{else}}
        <a class="page" href="/comments?page={{number}}">
          {{number}}
        </a>
      {{/if}}
    {{/each}}

    {{#if hasNext}}
      <a href="/comments?page={{add page 1}}">Next</a>
    {{/if}}

  </div>
{{/if}}
</main>

{{> footer}}

</body>
</html>

